.centre {
	border-radius:  50px;
	border: solid darkgreen;
	-webkit-box-shadow: 10px 10px 10px green;
	background-color: white;
}


.menu {
	border-radius:  50px;
	border: solid darkgreen;
	-webkit-box-shadow: 10px 10px 10px green;
}


body{
	background-image:url(fond.gif);
}
