body
{
	font-family: verdana, calibri, sans-serif;
	margin: 0px;
	padding: 0px;
}

nav > ul
{
	margin: 0px;
	padding: 0px;
}

nav li
{
	list-style-type: none;
}

nav > ul > li
{
	float: left;
	position: relative;
}

.submenu
{
	display: none;
}

nav
{
	width: 100%;
	background-color: black;
}

nav > ul::after
{
	content: "";
	display: table;
	clear: both;
}

nav a
{
	display: inline-block;
	text-decoration: none;
}

nav > ul > li > a 
{
	padding: 20px 30px;
	color: #FFF;
}

nav li:hover .submenu
{
	display: inline-block;
	position: absolute;
	top: 100%;
	left: 0px;
	padding: 0px;
	z-index: 100000;
}

.submenu list-style-type
{
	border-bottom: 1px solid #CCC;
}

.submenu li a
{
	padding: 15px 30px;
	font-size: 13px;
	color: #222538;
	width: 270px;
}

.Wordpress:hover
{
	border-top: 5px solid darkgreen;
	
}

.Projet:hover
{
	border-top: 5px solid darkgreen;
}

.Divers:hover
{
	border-top: 5px solid darkgreen;
}

nav > ul > li:hover a
{
	padding: 15px 30px 20px 30px;
}

.Wordpress .submenu li:hover a 
{
	background-color: darkgreen;
}

.Projet .submenu
{
	background-color: darkgreen;
}

.Divers .submenu
{
	background-color: darkgreen;
}


.submenu li:hover a 
{
	color: #EEE;
	font-weight: bold;
}


.Projet .submenu li:hover a 
{
	background-color: green;
}

.Divers .submenu li:hover a 
{
	background-color: green;
}

nav ul li, nav ul li a 
{
	width: 100%;
	text-align: center;
}
nav ul li a, nav ul li:hover a 
{
	padding: 10px 0px 10px 0px;
}
nav li:hover .submenu
{
	display: block;
	position: static;
}
