h1 {
	color: red;
	background-color : darkblue;
}

.bouton {
	float : right;
}

h2 {
	color : red;
	background-color : darkblue;
}

body {
	background-image: url(toile.jpg);
}

label {
	background-color : yellow;
	
}

