code 
{
	background: #73bcec;
	color: #fff;
	font-size: 2rem;
	font-family: verdana;
	border : 2px solid #060bfa;
	display: block;
	text-align: center;


}

section 
{
	width: 30%;
	height: 400px;
	float: left;
	border-radius: 6px;
	margin: 12px 1.5% 24px 1.5%;
	border : 2px solid #060bfa;



}

header
{

	margin-top: 1em;
	margin-bottom: 1em;
}



footer
{

clear: both;

}

.c1
{
	color: red;
}

.c12
{
	color: white;
}

.c2
{
	color: green;
}

.fond1
{

	background: red
}

.fond2
{

	background: green
}

p
{

	text-align : justify;
}